<div class="container">
  <div class="alert alert-danger" role="alert" *ngIf="!isOnline">
    Application appears to be offline, please turn or your internet connectivity
  </div>
  <div class="row">
    <div class="col-xl-12"><h1>RSS Feeds</h1></div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <app-search (onSearch)="getRss($event)" [loading]="loading"></app-search>
      <hr />
    </div>
  </div>

  <app-spinner *ngIf="loading"></app-spinner>

  <div class="row" *ngIf="(feed$ | async) as feed">
    <div class="col-xl-12">
      <h1>Articles</h1>
      <app-card *ngFor="let feedItem of feed" [feedItem]="feedItem"></app-card>
    </div>
  </div>
</div>

<app-alerts> </app-alerts>
