@import 'settings.colors';
@import 'settings.fonts';
.container {
  margin: 0 auto;
  flex: 1;
  overflow: auto;
}

a {
  color: $accent;
}

@media screen and (max-width: 480px) {
  body {
    &.body--scroll-mobile {
      overflow: hidden;
      position: fixed;
    }
  }
}
