//font-size:
$fontSizeExtraSmall: 1.1rem;
$fontSizeSmall: 1.5rem;
$fontSizeRegular: 1.6rem;
$fontSizeMedium: 1.8rem;
$fontSizeTitle: 2rem;
$fontSizeBig: 2.35rem;
$fontSizeHeading: 3rem;
$fontSizeHuge: 3.7rem;

$lineHeightSmall: 1.7rem;
$lineHeightRegular: 1.9rem;
$lineHeightMedium: 2.8rem;
$lineHeightTitle: 2.3rem;
// Define font family variables
$fontFamily: 'Source Sans Pro', sans-serif;
